.leftcomp{
    border: 1px solid #fff;
    background-color: white;
    padding: 15px;
    width: 12vw;
}
#flash{
    text-align: left;
    color: #8b8a92;
}
#list{
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
