.middle{
    border: 1px solid #fff;
    background-color: white;
    padding: 50px 40px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
    max-width: auto;
}
.slider{
    display: flex;
}
#para1{
    margin-left: 20px;
}
.slider img{
    max-width: 100%;
    height: auto;
    max-height: 500px;
}