.box2 {
    border: 1px solid #fff;
    padding: 24px;
    background-color: white;
    border-radius: 8px;
  }
  #selectgroup{
    color: #6b7073;
    padding-bottom: 5px;
  }
  #description-add{
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    color: #6b7073;
  }
  .description-edit{
    position: relative;
    height: 100px;
    width: 92%;
    margin: 5px 0px;
    font-size: small;
    text-align: initial;
  }