.createbutton {
  position: relative;
  justify-content: center !important;
  left: 40%;
  top: 50%;
  color: #fff;
  background-color: #f00037;
  align-items: center !important;
  margin: 0 auto !important;
  padding: 5px;
  margin-top: 10px;
  width: 100px;
  text-decoration: none;
  border: none !important;
  border-radius: 5px;
}
.inputFeild1 {
  border-radius: 5px;
  width: 25vw;
  border: 1.5px solid rgb(99, 97, 97);
  margin-top: 6px;
}

.description {
  position: relative;
  height: 100px;
  width: 92%;
  margin: 5px 0px;
  font-size: small;
  text-align: initial;
}
.decriptionheading {
  position: relative;
  margin-top: 0px;
  margin-left: 0px;
  color: #6b7073;
}
.creategroup {
  color: #6b7073;
  padding-bottom: 5px;
}
.box1 {
  border: 1px solid #fff;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
}
.add-more{
  color: blue;
}
.term1{
  color: #6b7073;
}
.term-parent{
  display: inline-flex;
  align-items: flex-end;
}
.term-parent2{
  position: relative;
  left: 20px;
}